@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .elevation-1 {
    elevation: 2;
    shadow-color: #000;
    shadow-offset: 0px 1px;
    shadow-opacity: 0.18;
    shadow-radius: 1.0;
  }
  
  .elevation-2 {
    elevation: 4;
    shadow-color: #000;
    shadow-offset: 0px 2px;
    shadow-opacity: 0.23;
    shadow-radius: 2.62;
  }
  
  .elevation-3 {
    elevation: 6;
    shadow-color: #000;
    shadow-offset: 0px 3px;
    shadow-opacity: 0.27;
    shadow-radius: 4.65;
  }

  .elevation-none {
    elevation: 0;
    shadow-opacity: 0;
  }
}
